body
{
	background-color: #ededed;
}

html, body
{
	height: 100%;
	margin: 0;
	padding: 0;
}

.wrapper
{
	display: flex;
	min-height: 100%;
	flex-direction: column;
}

.footer
{
	background-color: white;
	text-align: center;
	padding: 50px;
	font-size: 16px;
}

.footer a
{
	opacity: 0.8;
	display: inline-block;
	margin: 0px 5px;
	transition: opacity 0.2s ease;
	-webkit-backface-visibility: hidden;
}

.footer a:hover
{
	opacity: 1;
}

.footer img
{
	height: 40px;
	width: 40px;
}

.footer .social
{
	margin-bottom: 20px;
}

.content
{
	flex: 1;
}

section.header
{
	background-color: #333333;
	color: white;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}

section.header .name
{
	font-size: 48px;
}

section.header .about-me
{
	font-size: 25px;
	margin-top: 20px;
	color: #d8d8d8;
}

section.content
{
	padding-top: 50px;
}

section.content h1
{
	margin-top: 0px;
	margin-bottom: 30px;
}

section.content .container
{
	margin-bottom: 50px;
}

.thumb
{
	display: block;
	height: 100%;
	width: 100%;
	background-color: white;
	border-radius: 5px;
}

.thumb img
{
	width: 100%;
	height: auto;
	border-radius: 5px;
	opacity: 0.8;

	transition: opacity 0.2s ease;
	-webkit-backface-visibility: hidden;
}

.thumb img:hover
{
	opacity: 1;
}

a.project-banner
{
	display:block;
	border-radius: 5px;
	padding-top: 75%;
	background-size: cover;
	background-position: center;
}

.projects a, .code a
{
	color: #333;
}

.projects h3
{
	line-height: 30px;
	font-size: 30px;
	margin-top: 0;
	margin-bottom: 10px;
}

.projects .item
{
	font-size: 16px;
}

.projects .item span
{
	font-weight: bold;
}

.projects .description
{
	margin-top: 10px;
	font-size: 16px;
}

.code .sample
{
	font-size: 0;
	overflow: hidden;
	background-color: #fafafa;
	margin-bottom: 20px;
	border-radius: 5px
}

.code a:hover .sample
{
	background-color: white;
}

.code .sample .number
{
	background-color: #333333;
	color: white;
	font-size: 20px;
	line-height: 20px;
	font-weight: bold;
	vertical-align: middle;
	padding: 10px;
	float: left;
	border-radius: 5px 0px 0px 5px;
	transition: background-color 0.2s ease;
}

.code a:hover .sample .number
{
	background-color: #4d4d4d;
}

.code .sample .description
{
	float: left;
	font-size: 16px;
	line-height: 20px;
	vertical-align: middle;
	padding: 10px;
	float: left;
}